<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.8.0/html2pdf.bundle.js"></script>
</head>
<body>
    <div id="salesReport" style="padding: 5%;">
        <div style="display: flex;">
            <p>COURIER CONSIGNMENT NOTE ISSUED BY COMPANY</p>
            <p style="padding-left: 10%;">TAX INVOICE-NO :<%=consignmentDetails.eway.bill_no%> </p>
        </div>
        <div style="border-color: black; display: flex; border-width:1px;">
<div style=" width: 50%; ">
    <div style="border-color: black;border-style: solid; border-width:1px;">
        <img style="height: 100px; width: 68%;" src="/images/US Transport.jpg" alt="">
        <p style="font-size:xx-small;">
            PRINCIPLE: HIGH TOWER, PADAMUKAL ROAD, ERNAKULAM ERNAKULAM
            PHONE:83838383838</p>
    </div>
    <div style="border-color: black;border-style: solid; border-width:1px;">
    <div style="background-color: gray;">
<h5>CONSIGNER</h5>
    </div>
    <div style="padding-left: 10px;">
        <p style="font-size:small;"><%=consignmentDetails.sender_name%></p>
        <p style="font-size:small;"><%=consignmentDetails.sender_address%></p>
        <p style="font-size:small;"><%=consignmentDetails.sender_city%></p>
        <p style="font-size:small;">pincode: <%=consignmentDetails.sender_pincode%></p>
        <p style="font-size:small;">mobile: <%=consignmentDetails.sender_number%></p>
    </div>
    <div style="background-color: gray;">
        <h5>CONSIGNEE</h5>
            </div>
<div style="padding-left: 10px;">
    <p style="font-size:small;"><%=consignmentDetails.receiver_name%></p>
    <p style="font-size:small;"><%=consignmentDetails.receiver_address%></p>
    <p style="font-size:small;"><%=consignmentDetails.receiveer_city%></p>
    <p style="font-size:small;">pincode: <%=consignmentDetails.receiver_pincode%></p>
    <p style="font-size:small;">mobile: <%=consignmentDetails.receiver_number%></p>
</div>
    </div>
    <div style="border-color: black;border-style: solid; border-width:1px;">
    <p style="font-size:xx-small;">SERVICE ACCOUNTING CODE :996812 DESCRIPTION OF SERVICE:COURIER SERVICE</p>
    </div>
    <div style="display: flex;">
    <div style="width:50%;">
        <div style="border-color: black;border-style: solid; border-width:1px;">
            <p style="font-size:xx-small;">WEIGHT</p>
        </div>
        <div style="border-color: black;border-style: solid; border-width:1px;">
            <p style="font-size:xx-small;">VOLUMETRIC CHARGE</p>
        </div>
        <div style="border-color: black;border-style: solid; border-width:1px;">
            <p style="font-size:xx-small;">FREIGHT CHARGE</p>
        </div>
        <div style="border-color: black;border-style: solid; border-width:1px;">
            <p style="font-size:xx-small;">FREIGHT ON VALUE</p>
        </div>
        <div style="border-color: black;border-style: solid; border-width:1px;">
            <p style="font-size:xx-small;">TAXABLE VALUE</p>
        </div>
        <div style="border-color: black;border-style: solid; border-width:1px;">
            <p style="font-size:xx-small;">SGST@ %9</p>
        </div>
        <div style="border-color: black;border-style: solid; border-width:1px;">
            <p style="font-size: xx-small;">CGST@ %9 </p>
        </div>
        <div style="border-color: black;border-style: solid; border-width:1px;">
            <p style="font-size: xx-small;">IGST@ %18</p>
        </div>
        <div style="border-color: black;border-style: solid; border-width:1px;">
            <p style="font-size: xx-small;">CESS@ %1 </p>
        </div>
        <div style="border-color: black;border-style: solid; border-width:1px;">
            <p style="font-size: xx-small;">TOTAL CHARGE</p>
        </div>
    </div>
    <div style="width:50%;">
        <div style="border-color: black;border-style: solid; border-width:1px;">
        <p style="font-size:xx-small;">&nbsp; <%=consignmentDetails.weight%></p>
        </div>
        <div style="border-color: black;border-style: solid; border-width:1px;">
            <p style="font-size:xx-small;"> &nbsp;<%=consignmentDetails.vol_weight%></p>
            </div>
            <div style="border-color: black;border-style: solid; border-width:1px;">
                <p style="font-size: xx-small;"> &nbsp;</p>
                </div>
                <div style="border-color: black;border-style: solid; border-width:1px;">
                    <p style="font-size: xx-small;">&nbsp;  <%=consignmentDetails.freight%></p>
                    </div>
                    <div style="border-color: black;border-style: solid; border-width:1px;">
                        <p style="font-size:xx-small;"> &nbsp;</p>
                        </div>
                        <div style="border-color: black;border-style: solid; border-width:1px;">
                            <p style="font-size:xx-small;">&nbsp;<%=consignmentDetails.sgst%></p>
                            </div>
                            <div style="border-color: black;border-style: solid; border-width:1px;">
                                <p style="font-size:xx-small;"> &nbsp;<%=consignmentDetails.cgst%></p>
                                </div>
                                <div style="border-color: black;border-style: solid; border-width:1px;">
                                    <p style="font-size:xx-small;"> &nbsp;<%=consignmentDetails.igst%></p>
                                    </div>
                                    <div style="border-color: black;border-style: solid; border-width:1px;">
                                        <p style="font-size:xx-small;">&nbsp;<%=consignmentDetails.cess_kfc%></p>
                                        </div>
                                        <div style="border-color: black;border-style: solid; border-width:1px;">
                                            <p style="font-size: xx-small;">&nbsp; <%=consignmentDetails.charges%></p>
                                            </div>

    </div>
    </div>
    <div style="border-color: black;border-style: solid; border-width:1px;">
        <p style="font-size: smaller;">GSTIN: 32AABCM9407D1ZV | StateCode: 32 | State: KERALA</p>
    </div>
<div>

</div>
</div>
<div style="width: 50%;">
    <div style="display: flex;">
<div style="height: 50px; width:100%;border-style: solid; border-width:1px;">
<p style="font-size: smaller;">DATE:-<span style="font-size: x-small;" id="time"></span></p>
</div>
<div style="height: 50px; width:100%;border-style: solid; border-width:1px;">
<p style="font-size: smaller;">ORIGIN: <%=consignmentDetails.sender_city%></p>
</div>
<div style="height: 50px; width:100%;border-style: solid; border-width:1px;">
    <p style="font-size: smaller;">DESTINATION : <%=consignmentDetails.receiveer_city%></p>
    </div>
</div>
<div style="display: flex;">
<div style="width: 50%;border-style: solid;border-color: black;font-size: smaller; border-width:1px; ">
PRODUCT: <label style="font-size: smaller;" for="">DOX</label> <input type="checkbox">
<label style="font-size: smaller;" for="">NON DOX</label> <input type="checkbox">
<label style="font-size: smaller;" for="">FASTTRACK</label> <input type="checkbox">
</div>
<div  style="width: 50%;border-style: solid;border-color: black; font-size: smaller; border-width:1px; ">
C.N.No. <p>  <%=consignmentDetails.docno%></p>
</div>
</div>
<div style="display: flex;">
    <div style="width: 60%;border-style: solid;border-color: black;font-size: smaller; border-width:1px; ">
        (L * B * H): 0 * 0 * 0 = 0Kg(s) 
    </div>
    <div style="width: 40%;border-style: solid;border-color: black;font-size: smaller; border-width:1px; ">
        MODE: <%=consignmentDetails.travel_by%>
    </div>
</div>
<div style="display: flex;">
    <div style="width: 60%;border-style: solid;border-color: black; font-size: smaller; border-width:1px; ">
        CONTENT OF SHIPMENT
    </div>
    <div style="width: 40%;border-style: solid;border-color: black; font-size: smaller; border-width:1px; ">
        VALUE OF GOODS
    </div>
</div>
<div style="display: flex;">
    <div style="width: 60%;border-style: solid;border-color: black; font-size: smaller; border-width:1px; ">
        PARTS
    </div>
    <div style="width: 40%;border-style: solid;border-color: black; font-size: smaller; border-width:1px; ">
        0
    </div>
</div>
<div>
    <div style="justify-content: center; display: flex;">
        <p style="font-size: smaller;" >CONDITIONS OF CARRIAGE :</p>
    </div>
    <div style="font-size: xx-small;">
        1. Said to Contain Basis: All the consignment shall be booked on "said to contain basis" i.e. SMCS shall be under no obligation to <br>
        verify the description and contents of the shipment declared by the Consignor on the docket/Invoice and as such the consignor shall <br>
        undertake and ensure to make correct and factual declaration on the docket/Airway bill. However, SMCS reserve the right to inspect <br>
        and/or refuse booking of shipment not conforming to these terms and condition, only after duly informing consignor regarding the <br>
        reasons for such inspection and/or refusal and after receiving the confirmation from consignor. Consignor shall not book, handover <br>
        any shipment consisting of prohibited, restricted or dangerous products and SMCS shall not be liable for any such shipment. <br>
        Consignor indemnified and would keep indemnified SMCS, its directors and employees against all claims, losses, charges and <br>
        expenses incurred by SMCS due to any banned, restricted or dangerous items entering in to the network of the SMCS due to any <br>
        commission or omission of Consignor. <br>
        2. Prohibited Items: The currency, bearer cheques, hundies, bearer bilty and/or similar other documents, Gold, Silver, Jewellery, <br>
        Precious stones, Liquid, Semi Liquid perishable/fragile goods narcotics and / or any item which are prohibited and/or restricted by <br>
        statutory law and acts are strictly not accepted by us. If such articles are enclosed without our information, the Company / Franchisee <br>
        will not be liable for the same and no claim shall be entertained for such articles. <br>
        3. Limitation of Liability: (a) In case of loss, theft, damage and mishandling of booked consignment maximum liability of the <br>
        Company/ Franchisee shall not be exceeding to the sum equivalent to 10 times of freight charges for documents and 5 times of <br>
        freight charges for parcels (below Rs.5000/-) or the value of the consignment mentioned on the docket whichever is less. (b) All the <br>
        high value shipment (above Rupees Five Thousand) and Fragile Shipment should be insured by the Consignor while booking, if any <br>
        such shipment booked uninsured in such cases, in the event of lost /damages or theft of such shipment the Company / Franchisee <br>
        will not be liable at all to reimburse to the customer. <br>
        4. No Service Area: Where the dox or Non-dox booked unknowingly for the area which comes under NSA (No Service Area) i.e. <br>
        beyond the network of SMCSPL in such event the said shipment shall be returned to the party/consignor. In case of NSA service the <br>
        Maximum Liability of the Company's'/Franchisees' shall be limited up to return of freight amount only <br>
    </div>
</div>
<div style="display: flex;">
    <div style="height: 100px; width: 60%;border-style: solid;border-color: black; border-width:1px;">
        CONSIGNOR SIGNATURE
        <div>
            Date: 
        </div>
    </div>
    <div style="width: 40%;border-style: solid;border-color: black; border-width:1px; ">
        RECEIVED BY
    </div>
</div>
<div style="border-style: solid;border-color: black; border-width:1px;">
    Branch Office : <p style="font-size:small;">&nbsp;<%=userDetails.userId%></p>
    <p style="font-size:small;">&nbsp;<%=userDetails.address%></p>
    <p style="font-size:small;">&nbsp;<%=userDetails.city%></p>
</div>
<div style="border-style: solid;border-color: black; border-width:1px;">
<p style="font-size: xx-small;">TRACK YOUR SHIPMENT ON www.shreemaruticourier.com Helpline : +91 9712 - 666 - 666 </p>
</div>
</div>
        </div>

        <div>
            <div style="justify-content: center; display: flex;">
                <p >CONDITIONS OF CARRIAGE :</p>
            </div>
            <div style="font-size: xx-small;">
                5. Applicability : The provision set out and referred to in this consignment note shall apply to transportation through any mode and shall not be restricted to one mode of transport only. <br>
 6. Definitions : a) SMCSPL — " Shree Maruti Courier Services Private Limited" b) Customer - mean and includes consignor, consignee and/or his/her authorized representatives.c) Delivery - means tender of shipment to the customer or intimation about arrival of the shipment <br>
at the destination. d) Freight — means the basic freight only and it excludes the other components like taxes and other levies. <br>
 7. Mode of Transport: SMCSPL is entitled to use any mode and route for transportation. <br>
 8. Contract: The docket is a contract between SMCSPL and customer. <br>
 9. Non-Negotiable : The SMCSPL Waybill/ Consignment Note is non-negotiable and the consignor acknowledges that it has been prepared by the Consignor or by SMCSPL on behalf of the Consignor. <br>
 10. Acceptance of Terms and Conditions : By giving us your shipment you accept our terms and conditions set out in the consignment note and/or the contract of carriage and/or the contract for the performance of other services on behalf of yourself and/or anyone else who <br>
has an interest in the shipment or the performance of other services irrespective of whether you have signed the front of our consignment note or not. Our terms and conditions also cover and can be invoked by anyone we use or sub-contract to collect, transport, deliver your <br>
shipment or perform other services as well as our employees, directors and agents. Only one of our authorized officers may agree to a variation of these terms and conditions in writing. When you give us the shipment with oral or written instructions that conflict with our terms <br>
and conditions we shall not be bound by such instructions. <br>
 11. Insurance : a) SMCSPL does not offer any insurance cover for the shipments and insist to customer to hand over insured goods for transportation under the consignor insurance. In the event of any loss, theft and damage of shipment maximum liability of SMCSPL is upto <br>
provision of COF only. <br>
 12. Law and Jurisdiction : This contract shall be governed and construed in accordance with the law of India and all disputes and claims are subject to the exclusive and irrevocable jurisdiction of Courts in Ahmedabad only and no other court shall have jurisdiction. <br>
 13. Documentations : a) Proper and completed documentation by the customer is compulsory required alongwith accurate details of the shipper/receiver's name, address, telephone Nos, email-id and forms, waybills, invoices etc. as per the statutory requirements. b) <br>
SMCSPL shall not be made responsible /liable in case of any deficiency in the documents/statutory requirements and no claim or grievance of any nature shall be entertained. c) Customer hereby undertake to make good the loss to SMCSPL in case their shipment(s) cause <br>
damages to other shipment(s) loaded in the vehicle due to inherent nature and which is wrongly declared by the customer OR in case of seizure by any government authority due to improper and incomplete documentation as a result other shipment (s) also get delayed <br>
resulting in a loss to SMCSPL. d) SMCSPL shall not be liable for any kind of damages to the goods caused due to improper and defective packaging of goods. <br>
 14. Statutory payments : a) The customers are solely responsible for all payments if any, levied by the government or any statutory body etc. Such as Octroi /entry Tax, service tax/value added tax or any other tax levied from time to time. b) In the event of any shipment <br>
being held up by any statutory authority such as but not limited to Commercial Tax/sales tax, Custom, Check post official, Octroi / Entry tax etc. SMCSPL shall not be responsible for any kind of consequential loss/freight refund. Further customer have agreed to make good the <br>
loss to SMCSPL , in case of any claims being lodged on SMCSPL by Statutory authorities due to insufficient documents or wrongful declaration by the customer. <br>
 15. Right to entrust : The company reserves the right to entrust the goods to any other carrier. The Company/Franchisee will not be liable for any delay, damage or loss-during its transit through other carrier of situation beyond our control i.e. occurred due to acts of God or <br>
Man —made calamities. <br>
 16. Lien : SMCSPL shall have a general lien over all the consignments of the customer towards any dues payable to SMCSPL by the customer. <br>
 17. Claims : 1) No claim shall be entertained by the SMCSPL for any loss or shortage/damage/non-delivery/breakage/leakages/pilferage etc. of the consignment unless a written claim is lodged within 30 days from the date of booking, subject to remarks on the proof of <br>
delivery. 2) SMCSPL shall not entertain any claims arising due to delay in delivery of consignment for any reason. <br>
 18. Chargeable Weight : 1) Every shipment shall be charged by its chargeable weight i.e. the actual weight or the volumetric weight whichever is high. 2) Volumetric weight of the shipment in Kg. is its gross cubic cms. i.e. Length x breath x height divided by 5000. <br>
 19. VALUATION CHARGES : Franchisee shall ensure to collect parcel valuation charges per thousand 0.5% extra additional to freight charges for the shipments having value above Rs. 5000/-, from the customers at the time of booking. <br>
 20. EXCLUSIONS : 19.1 We will not be liable for any loss of income, loss of profits, loss of markets, loss of reputation, loss of customers, loss of use, loss of an opportunity even if we had knowledge that such damages or loss might arise or for any indirect, incidental, special <br>
or consequential damages or loss howsoever arising including without limitation breach of contract, negligence, willful act or default. 19.2 We are not liable if we do not fulfill any obligations towards you at all as a result of Circumstances beyond our control such as (but not <br>
limited to) : a) Acts of god including earthquakes, cyclones, storms, flooding, fire, disease, fog, snow or frost or other natural calamities or disasters; b) Force majeure including (but not limited to) war, accidents, acts of public enemies, strikes, embargoes, peril, local disputes <br>
or civil commotions etc.; <br>
 21. Change of Address : Subsequent to booking of a consignment if the consignor makes any changes in the address or any other changes, additional charges shall be levied as a result of such a change, as decided by the company. <br>
 22. Return to Origin(RTO) : If the customer/Consignee do not take delivery of the shipment for any reason whatsoever. SMCSPL shall intimate to the customer/consignor and upon request of the consignor SMCSPL return the shipment and raise the bills on the consignor <br>
towards the transportation and other charges including transport charges in accordance with the terms of the contract and the customer shall be liable to pay all dues payable to SMCSPL whether at the original booking station or elsewhere as notified by SMCSPL. <br>
 23. Terms in addition to special contracts: The terms and conditions stipulated are in addition to special contracts, if any between SMCSPL and the customer. <br>
 24. Arbitration : In case of any dispute or difference arising out of or in relation to this docket shall be referred to a sole arbitrator appointed by SMCSPL, governed under the provisions of Arbitration and Conciliation Act, 1996 as are in force and any amendment thereto from <br>
time to time. The Arbitration shall be conducted in English language and the venue of such arbitration shall be at Ahmedabad only. The award of the Arbitrator shall be final and binding upon both the parties. <br>
 25. GST : GST will be charged on total amount of the freight including all other charges as per rules applicable. GST is payable as per the applicable rules being enforced from time to time by the authority concerned. <br>
 26. Right to Change : The Company reserves the right to change the clauses mentioned in the terms and conditions without any prior notice. <br>

            </div>
        </div>

    </div>

    <div><button  onclick="downloadPdf()">DOWNLOAD AS PDF</button></div>
    <script>
        function downloadPdf() {
          var element = document.getElementById("salesReport")

          var opt = {
            margin: 0,
            filename: 'salesReport.pdf',
            image: {
              type: 'jpeg',
              quality: 0.98
            },
            html2canvas: {
              scale: 2
            },
            jsPDF: {
              unit: 'in',
              format: 'letter',
              orientation: 'portrait'
            }
          };

          html2pdf(element,opt)
        }
       </script>
<script>
    let datetime = new Date();
document.getElementById("time").textContent = datetime;


</script>
</body>
</html>