<%-include('./includes/user-header.ejs')-%>
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.8.0/html2pdf.bundle.js"></script>
<style>
    #customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td, #customers th {
  border: 1px solid rgb(8, 6, 6);
  padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}
.body-div{
    min-height: 100vh;
    padding-left: 6rem;
    padding-right: 5px;
    align-items: center;
    justify-content: center;
    background: #f2f2f4;
}
#fullpage {
  display: none;
  position: absolute;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-size: contain;
  background-repeat: no-repeat no-repeat;
  background-position: center center;
  background-color: black;
}
</style>
<div class="body-div" id="DRSReport">
    <div style="padding: 5px;margin: 5px;
    display: inline-block;">
        <h3>Manage DRS</h3>
    </div>
<div style="display: flex;">
<h5 style="padding: 10px;">DRS Number: <%=drs.drsno%></h5>  <h5 style="padding: 10px;">Delivery By: <%=boydetail.name%></h5> <h5 style="padding: 10px;">Date: <%=drs.date.toDateString()%></h5>
</div>
    <table id="customers">
    <thead>
        <tr>
            <th>index</th>
            <th>Doc No.</th>
            <th>Sender</th>
            <th>Receiver</th>     
            <th>E-way Nos</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        
            <% for(let i=0;i < cons.length; i++){%>
                <tr>
                <td><%=i+1%></td>
                <td><%=cons[i].docno%></td>
                <td>
                  <%=cons[i].sender_name%><br>
                <%=cons[i].sender_address%><br>
                <%=cons[i].sender_city%><br>
                <%=cons[i].sender_pincode%><br>
                <%=cons[i].sender_number%>
              </td>
             <td>
              <%=cons[i].receiver_name%><br>
              <%=cons[i].receiver_address%><br>
              <%=cons[i].receiveer_city%><br>
              <%=cons[i].receiver_pincode%><br>
              <%=cons[i].receiver_number%>
            </td>
                <td>
                    <%=cons[i].eway.bill_no%>
                </td>
                 <% if(cons[i].approved){%>
                  <td>The consignment has been delivered</td>
                  <%}else{%>
                    <% if(cons[i].DeliveryStatus=='Delivered'){%>
                      <td>
                        <div class="gallery">
                        <img height="50px" src="/<%=cons[i].image%>" alt="">
                        <a href="/DRS/approve-status/<%=cons[i]._id%>/<%=drs.drsno%>" class="btn btn-success" >Approve</a>
                      </div>
                      </td>
                      <%}else{%>
                        <td></td>
                        <%} %>
                  <%} %> 
            </tr>
                <%} %>
                <div id="fullpage" onclick="this.style.display='none';"></div>

     
    </tbody>
    </table> 
    <div><button  onclick="downloadPdf()">DOWNLOAD AS PDF</button></div>
</div>

<script>
  const imgs = document.querySelectorAll('.gallery img');
const fullPage = document.querySelector('#fullpage');

imgs.forEach(img => {
  img.addEventListener('click', function() {
    fullPage.style.backgroundImage = 'url(' + img.src + ')';
    fullPage.style.display = 'block';
  });
});
</script>

<script>
  function downloadPdf() {
    var element = document.getElementById("DRSReport")

    var opt = {
      margin: 0,
      filename: 'DRSReport.pdf',
      image: {
        type: 'jpeg',
        quality: 0.98
      },
      html2canvas: {
        scale: 2
      },
      jsPDF: {
        unit: 'in',
        format: 'letter',
        orientation: 'landscape'
      }
    };

    html2pdf(element,opt)
  }
       </script>

<%-include('./includes/user-footer.ejs')-%>


