<%-include('./includes/user-header.ejs')-%>

<style>
    .body-div{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #4070f4;
}
.container{
    position: relative;
    max-width: 80%;
    width: 100%;
    border-radius: 6px;
    padding: 30px;
    margin: 0 15px;
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}
.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
}
.count{
    background-color: aliceblue;
  border: none;
  color: black;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 4px;
}
.container form{
    position: relative;
    margin-top: 5px;
    min-height:240px;
    background-color: #fff;
    overflow: hidden;
}
.container form .fields{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
form .fields .input-field4{
    display: flex;
    width: calc(100% / 4 - 15px);
    flex-direction: column;
    margin: 4px 0;
}
form .fields .input-field1{
    display: flex;
    width: calc(100% / 1 - 15px);
    flex-direction: column;
    margin: 4px 0;
}
.input-field label{
    font-size: 12px;
    font-weight: 500;
    color: #2e2e2e;
}
.input-field input, select{
    outline: none;
    font-size: 14px;
    font-weight: 400;
    color: #333;
    border-radius: 5px;
    border: 1px solid #aaa;
    padding: 0 5px;
    height: 42px;
    margin: 8px 0;
}
#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}

</style>
<div class="body-div">
    <div class="container">
        <div style="margin: 5px;">
            <h1>DELIVERY RUN SHEET</h1>
        </div>
        <form action="/DRS" method="post">
        <div style="display: flex;">
        <button class="button">
            Unlock DRS
        </button>
        <div style="margin-left: auto;"><p>DRS Number:- <input type="number" name="drsno"  id="drsno"> </p></div>
    </div>
    
    <div class="fields">
        <div class="input-field4">
            <label for="">Issue Date</label>
            <p id="date"></p>
        </div>
   
   
        <div class="input-field4">
            <label for="">Select Area</label>
            <select name="area" id="">
                <option value="">Select</option>
                <% for(let i=0; i < users.areas.length ; i++){%>
                    <option value="<%=users.areas[i]%>"><%=users.areas[i]%></option>
                    <%} %>
                
            </select>
        </div>
   
    
        <div class="input-field4">
            <label for="">Select Delivery Boy</label>
            <select name="delivery" id="">
                <option value="">Select</option>
                <% for(let i=0; i < users.deleveryBoys.length ; i++){%>
                    <option value="<%=users.deleveryBoys[i]%>"><%=users.deleveryBoys[i]%></option>
                    <%} %>
            </select>
        </div>
   
    
        <div class="input-field4">
            <label for="">Delivery Pincode</label>
            <select name="pincode" id="">
                <option value="">Select</option>
                <% for(let i=0; i < users.pincodes.length ; i++){%>
                    <option value="<%=users.pincodes[i]%>"><%=users.pincodes[i]%></option>
                    <%} %>
            </select>
        </div>
    </div>
    
    <div class="fields">
        <div class="input-field1">
        <label for="">Document Number</label>
        <input type="text" name="docno" oninput="check()"  value="0" id="docno" style="padding:1em; font-size: large;">
    </div>
    </div>
    <button class="button">Create</button>
    <div class="count">
        Count:<span id="count">0</span>
    </div>
</form>
<div style="padding: 5px;margin: 5px;
    display: inline-block;">
        <h3>Manage DRS</h3>
    </div>

    <table id="customers">
    <thead>
        <tr>
            <th>DRS Number</th>
            
            <th>Area</th>
            <th>Delivery Boy Name</th>
            <th>Issue Date</th>
            
            <th>COD Cash Collected</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <% for(let i=0;i < drs.length; i++){%>
            
            <tr>
                <td><%=drs[i].drsno%></td>
                <td><%=drs[i].area%></td>
                <td><%=drs[i].delivery%></td>
                <td><%=drs[i].date.toDateString()%></td>
                
    
                <td></td>
                <td><a href="/DRS-view/?drsno=<%=drs[i].drsno%>"><i class="fa fa-eye" aria-hidden="true"></i></a></td>
        
            </tr>
    
            <%} %>
           </tbody>
    </table> 
    </div>

</div>
<script>
    n =  new Date();
y = n.getFullYear();
m = n.getMonth() + 1;
d = n.getDate();
document.getElementById("date").innerHTML = d + "/" + m + "/" + y;

document.getElementById('drsno').value=Date.now()

function check(){
  let input=  document.getElementById('docno')
  let my_string =input.value

  let spaceCount = (my_string.split(" ").length);
document.getElementById('count').innerText=spaceCount
  }
</script>
<%-include('./includes/user-footer.ejs')-%>