<%-include('./includes/user-header.ejs')-%>
<style>
        .body-div{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #4070f4;
}
.container{
    position: relative;
    max-width: 80%;
    width: 100%;
    border-radius: 6px;
    padding: 30px;
    margin: 0 15px;
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}
.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
}
.count{
    background-color: aliceblue;
  border: none;
  color: black;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 4px;
}
.container form{
    position: relative;
    margin-top: 5px;
    min-height:240px;
    background-color: #fff;
    overflow: hidden;
}
.container form .fields{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
form .fields .input-field3{
    display: flex;
    width: calc(100% / 3 - 15px);
    flex-direction: column;
    margin: 4px 0;
}
form .fields .input-field1{
    display: flex;
    width: calc(100% / 1 - 15px);
    flex-direction: column;
    margin: 4px 0;
}
.input-field label{
    font-size: 12px;
    font-weight: 500;
    color: #2e2e2e;
}
.input-field input, select{
    outline: none;
    font-size: 14px;
    font-weight: 400;
    color: #333;
    border-radius: 5px;
    border: 1px solid #aaa;
    padding: 0 5px;
    height: 42px;
    margin: 8px 0;
}
#customers {
      font-family: Arial, Helvetica, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }
    
    #customers td, #customers th {
      border: 1px solid #ddd;
      padding: 8px;
    }
    
    #customers tr:nth-child(even){background-color: #f2f2f2;}
    
    #customers tr:hover {background-color: #ddd;}
    
    #customers th {
      padding-top: 12px;
      padding-bottom: 12px;
      text-align: left;
      background-color: #04AA6D;
      color: white;
    }
</style>
<div class="body-div">
    <div class="container">
        <div>
            <h1>OUTSCAN</h1>
        </div>
        <form action="/outscan" method="post">
            <div class="fields">
                <div class="input-field3">
                    <label for="">Date</label>
                    <p id="date"></p>
                </div>
                <div class="input-field3">
                    <label for="">To Hub/Center Name</label>
                    <select name="userId" id="">
                        <option value="" >Select</option>
                        <% for(let i=0;i < users.length; i++){%>
                            <option value="<%=users[i]._id%>"><%=users[i].userId%></option>
                            <%} %>
                        
                    </select>
                </div>
            </div>
            <div class="fields">
                <div class="input-field1">
                    <label for="">Shipment No</label>
                    <input type="text" name="docno"  id="docno" onkeypress="check()" style="padding:1em; font-size: large;"/>
                </div>
            </div>
            <button type="submit" class="button">Create</button>
            <div class="count">Count: <span id="count">0</span></div>
        </form>
        <span  style="margin: 10px;">Outscan Report</span>
        <table id="customers" style="margin-top: 20px;">
          <thead>  
          <tr>
              <th>Date</th>
              <th>Doc No:</th>
              <th>To Center</th>
              <th>Sender</th>
              <th>Receiver</th>
              <th>Service</th>
              <th>E-way bill No.</th>
            </tr>
          </thead>
          <tbody>
            <% for(let i=0;i < ismissing.length; i++){%>
              <tr>
                  <td><%=ismissing[i].date.toDateString()%></td>
                  <td><%=ismissing[i].result.docno%></td>
                  <td><%=ismissing[i].result.center%></td>
                  <td><%=ismissing[i].result.sender_name%></td>
                  <td><%=ismissing[i].result.receiver_name%></td>
                  <td><%=ismissing[i].result.Service%></td>
                  <td><%=ismissing[i].result.eway%></td>
                 </tr>
              <%} %>
          </tbody>
          </table>
</div>
<script>
    n =  new Date();
y = n.getFullYear();
m = n.getMonth() + 1;
d = n.getDate();
document.getElementById("date").innerHTML = d + "/" + m + "/" + y;

function check(){
  let input=  document.getElementById('docno')
  let my_string =input.value

  let spaceCount = (my_string.split(" ").length);
document.getElementById('count').innerText=spaceCount
  }
    
</script>
<%-include('./includes/user-footer.ejs')-%>